<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Bachelors of Computer Application (BCA)</h1>
            <span>
                <a href="http://nast.edu.np/" target="_blank">National Academy of Science and Technology</a>
            </span>
            <span>
                <address>Dhangadhi, Kailali, Nepal</address>
                <time>2009 to 2012</time>
            </span>
            </br>
            <span>Affiliation:
                <a href="http://pu.edu.np/" target="_blank">Pokhara University (PU)</a>
            </span>
            <span>
                <address>Kaski, Pokhara, Nepal</address>
            </span>
        </header>
        <p>
            <em>Grade: 3.37, B+, 81 %, First Division</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Higher Secondary Education (+2 Science)</h1>
            <span>
                <a href="http://nast.edu.np/" target="_blank">National academy of science and technology</a>
            </span>
            <span>
                <address>Dhangadhi, Kailali, Nepal</address>
                <time>2007 to 2009</time>
            </span>
            </br>
            <span>Affiliation:
                <a href="http://neb.gov.np/" target="_blank">National Education Board (NEB)</a>
            </span>
            <span>
                <address>Sanothimi, Bhaktapur, Nepal</address>
            </span>
        </header>
        <p>
            <em>Grade: 60 %, First Division</em>
        </p>
    </article>
</section>
