<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Development Team Lead</h1>
            <p><em>Danphe Software Labs · Full-time</em></p>
            <span><address>Anamnagar, Kathmandu, Nepal</address><time>Jun 2019 - Nov 2023 · 4 yrs 6 mos</time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Full-stack Developer</h1>
            <p><em>Enilv Technologies · Full-time</em></p>
            <span><address>Chakupat, Lalitpur, Nepal</address><time>Jan 2018 - Jan 2019 · 1 yr 1 mo</time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Software Engineer</h1>
            <p><em>Bajra Technologies Pvt. Ltd. · Full-time</em></p>
            <span><address>Dillibazar, Kathmandu, Nepal</address><time>Jan 2014 - Jun 2017 · 3 yrs 6 mos</time></span>
        </header>
        <p></p>
    </article>
</section>
